#gridWrapper
  %h1.page-title Contact

  %h3 Home
  %ul
    %p Email: bnicoara@westmont.edu
    %p Phone: (530)-873-4701
    %p Address: 14748 Vassar ct
    %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Magalia, CA. 95954

  %h3 School
  %ul
    %p Email: bnicoara@westmont.edu
    %p Phone: (805)-565-6741
    %p Address: MS# 1891
    %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;955 La Paz rd.
    %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Santa Barbara, Ca 93108