#gridWrapper
  %h1.page-title Home
  %h3 Portfolio
  %p My hope for this site is to provide a brief glimpse of myself and a portfolio of my work for any who might wish to |
  see it. In the following pages I offer my resume, examples of my work, and contact information. 

  .row
    .five.columns
      %h3 About
      %p I am fourth year college student attending #{link_to 'Westmont College', "http://www.westmont.edu"} and am |
      anticipating graduation in a few weeks on May 8, 2010. I will have obtained a degree in Engineering/Physics|
      with a minor in chemistry and extra elective courses in mathematics and computer programming. My interests |
      have always been broad and attending a Christian Liberal Arts school has only increased those interests. Some|
      people know what they want for their careers directly after graduation. I am among those whose dreams are not |
      yet set in stone. However, I have been developing interests in renewable energy technology, especially solar,|
      and also water resources, though I have little practical background in either. I tended to have a more |
      practical application lean than most of my peers in the physics department. Come graduation and summer I |
      will be searching for employment and hope to enter the renewable resources field.
    .four.columns
      <br><br>
      =image_tag "Wside.bmp", :width => 300, :border => 5 