#gridWrapper
  %h1.page-title Resume

  %h2 Benjamin Nicoara

  %h3 Education
  .row
    .six.columns
      %h5.format-line Westmont College
      %h6 &nbsp;Bachlor of Science in Engineering/Physics
      %ul
        %li Minor in Chemistry
        %li Additional courses in Mathematics and Computer Programing
    .one.columns
      %p
    .two.columns
      %h5 Expected May 8, 2010

  %h3 Work Experience
  .row
    .six.columns
      %h5.format-line Paradise Pines Golf Course
      %h6 Grounds Keeping
      %ul
        %li
        %li
    .one.columns
      %p
    .two.columns
      %h5 Summers 2005-2008

  .row
    .six.columns
      %h5.format-line Westmont College Library
      %h6 Circulation Assistant/Supervisor
      %ul
        %li Trained several new employees.
        %li 

  %h3 Skills

